.donation {
  background-color: rgb(223, 223, 223);
  display: flex;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: center;

    .money {
      font-size: 20;
      font-weight: bold;
    }
  }
}
