.center {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.select {
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  gap: 10px;
  > div {
    display: flex;
  }
}

.title {
  display: flex;
}
