.invite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .buttons {
    display: flex;
    gap: 20px;
    > button {
      width: fit-content;
    }

    > button:nth-child(2) {
      color: #25d366;
    }
  }
}
