.home {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  h1 {
    text-align: center;
    color: rgb(83, 83, 83);
  }

  .amounts {
    display: flex;
    gap: 10px;
    .donation {
      display: flex;
      font-size: 20px;
      align-items: center;
      font-weight: bold;
      &:hover {
        fill: #4096ff;
      }
    }
  }

  .info-text {
    font-size: 10px;
    color: rgb(83, 83, 83);
    font-style: italic;
  }
}
