.donation {
  background-color: red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  max-width: 800px;
  min-width: fit-content;
  margin-inline: auto;

  > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
