.donation-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .filters {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  .list {
    text-align: center;
  }

  .loading {
    font-size: 24px;
    margin: auto;
  }

  .empty {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
